@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/** MY SOLUTION **/


body {
  display: flex; /* OK */
  flex-direction: column; /* OK */
  justify-content: space-between; /* Unnecesary */
}

/*
button {
  padding: 8px 16px;
}
*/

a {
  text-decoration: none; /* OK */
  color: rgb(119,119,119); /* OK */
  font-weight: bold; /* Optional */
}

.content {
  display: flex; /* OK */
  flex-direction: column; /* OK */
  align-items: center; /* OK */
  /*
  flex: 1;
  justify-content: center;
  gap: 16px;
  */
}

.footer {
  background-color: rgb(238,238,238);
}

.extremes { /* The same as .header,.footer */
  display: flex; /* OK */
  justify-content: space-between; /* OK */
  /* padding: 16px; */
}

.extremes > ul {
  list-style-type: none; /* COuld have been list-style:none */
  display: flex; /* OK */
  padding: 0; /* OK */
  margin: 15px; /* Could have been 0 */
  gap: 15px; /* OK */
}