@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

/* MY SOLUTION */

.modal {
  display: flex; /* OK */
  /* gap: 16px; */
  /* padding: 16px; */
}

.icon {
  flex: 1 0 auto; /* the same as flex-shrink: 0 */
  margin: 10px; /* Unnecesary if there is a gap on .modal */
  align-self: flex-start; /* Unnecesary */
}

.msg-container { /* Overall unnecesary if there is a gap */
  margin: 10px 10px 10px 0px;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}

.msg-header {
  align-self: stretch; /* could have been CENTER */
  justify-content: space-between; /* OK */
  font-size: large; /* could have been 18px ? */
  font-weight: bolder; /* could have been 700 */
  display: flex; /* OK */
}

.msg-body { /* Unnecesary if there is a gap in .modal */
  padding: 10px 0 10px;
}

/* This instead of what it is in msg-body
.text {
  margin-bottom: 16px;
}
*/