body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/* MY SOLUTION */

body {
  display: flex; /* OK */
  flex-direction: column; /* OK */
  justify-content: space-between; /* Unnecesary */
}

.header {
  font-size: 32px; /* OK */
  font-weight: 900; /* OK */
  padding: 16px; /* Could have been 0 16px */
  height: fit-content;
  display: flex; /* OK */
  align-items: center; /* OK */
}

.content {
  display: flex; /* OK */
  flex-grow: 1; /* Could have been flex:1 and it is recommended */
}

.sidebar {
  padding: 16px; /* OK */
  /* flex-shrink: 0; but I think this is not necessary*/
}

.sidebar > ul {
  list-style: none; /* Could have been list-style-type */
  padding: 0; /* OK */
  /* margin: 0 */
  width: 300px; /* OK */
}

.sidebar > ul > li {
  margin: 12px; /* OK */
}

.sidebar > ul > li > a {
  text-decoration: none; /* OK */
  font-size: 24px; /* OK */
  color: #ffffff; /* OK */
}

.cards {
  padding: 32px; /* OK */
  display: flex; /* OK */
  flex-wrap: wrap; /* OK */
  gap: 30px; /* Unnecessary but it worked */
}

.card {
  padding: 16px; /* OK */
  /* 
  margin: 16px;
  width: 300px; */
  min-width: 200px; /* Unnecesary if width and margin are defined */
  max-width: 20%; /* Unnecesary if width and margin are defined */
  flex-wrap: wrap; /* Completely unnecesary, this doesnt go here*/
  flex: 0 1 auto; /* Unnecesary if width and margin are defined */
}

.footer {
  display: flex; /* OK */
  align-items: center; /* OK */
  justify-content: center; /* OK */
}